
  .feynman{
    min-height: 790px;
    background-color: #f2f2f2;
    background-image: url(./feynman.png);
    background-size: 867px 637px;
    background-position: bottom left;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: column;
  }