@import url(./Blocks/Keyframes/rotation/keyframes\ rotation.css);

@import url(./Blocks/animations/__rotation/rotation.css);

@import url(./Blocks/root/root.css);

@import url(./Blocks/page/page.css);

@import url(./Blocks/animations/__rotation/rotation.css);

@import url(./Blocks/header/header.css);
@import url(./Blocks/header/__title/header__title.css);
@import url(./Blocks/header/__subtitle/header__subtitle.css);
@import url(./Blocks/header/__square/header__square-pic.css);
@import url(./Blocks/header/__main/header__main_illustration.css);
@import url(./Blocks/header/__logo/header__logo.css);
@import url(./Blocks/header/__logo/header__logo_place_header.css);
@import url(./Blocks/header/__link/header__link.css);

@import url(./Blocks/content/content.css);
@import url(./Blocks/description/description.css);
@import url(./Blocks/description/__two-columns/two-columns.css);
@import url(./Blocks/description/__two-columns/__span/two-columns__span_accent.css);
@import url(./Blocks/description/__two-columns/__paragraph/description__two-columns__paragraph.css);
@import url(./Blocks/description/__two-columns/__main-text/description__two-columns__main-text.css);
@import url(./Blocks/description/__two-columns/__brief/description__two-columns__brief.css);

@import url(./Blocks/digits/digits.css);
@import url(./Blocks/digits/__table/table.css);
@import url(./Blocks/digits/__table/__text/digits__table__text.css);
@import url(./Blocks/digits/__table/__heading/digit__table__heading.css);
@import url(./Blocks/digits/__table/__cell/digit__table__cell.css);
@import url(./Blocks/digits/__section-title/digits__section-title.css);
@import url(./Blocks/digits/__section-subtitle/digits__section-subtitle.css);

@import url(./Blocks/feynman/feynman.css);
@import url(./Blocks/feynman/__title/feynman__title.css);
@import url(./Blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(./Blocks/feynman/__link/feynman__link.css);


@import url(./Blocks/khan/khan.css);
@import url(./Blocks/khan/-author/Khan-author.css);
@import url(./Blocks/khan/-buy/Khan-buy-link.css);
@import url(./Blocks/khan/-container/Khan-container.css);
@import url(./Blocks/khan/-title/Khan-title.css);
@import url(./Blocks/khan/_book/Khan-book-container.css);
@import url(./Blocks/khan/_book/Khan-book-pic.css);
@import url(./Blocks/khan/-quote/Khan-quote-author-subline.css);
@import url(./Blocks/khan/-quote/Khan-quote-author.css);
@import url(./Blocks/khan/-quote/Khan-quote.css);


@import url(./Blocks/oakley/oakley.css);
@import url(./Blocks/oakley/__two-columns/oakley__two-columns.css);
@import url(./Blocks/oakley/__two-columns/_paragraph/oakley__two-columns_paragraph.css);
@import url(./Blocks/oakley/__two-columns/_main/oakley__two-columns_main-text.css);
@import url(./Blocks/oakley/__two-columns/_brief/oakley__two-columns_brief.css);

@import url(./Blocks/resources/resources.css);
@import url(./Blocks/resources/resources-title.css);
@import url(./Blocks/resources/resources-subtitle.css);
@import url(./Blocks/resources/__logo/resources__logo.css);
@import url(./Blocks/resources/__logo/resources__logo-zone.css);

@import url(./Blocks/techniques/techniques.css);
@import url(./Blocks/techniques/techniques-title.css);
@import url(./Blocks/techniques/techniques-subtitle.css);
@import url(./Blocks/techniques/__cards/cards.css);
@import url(./Blocks/techniques/__cards/__title/techniques__cards__title.css);
@import url(./Blocks/techniques/__cards/__item/techniques__cards__item.css);
@import url(./Blocks/techniques/__cards/__image/techniques__cards__image.css);
@import url(./Blocks/techniques/__cards/__description/techniques__cards__description.css);

@import url(./Blocks/video/video.css);
@import url(./Blocks/video/video-title.css);
@import url(./Blocks/video/video-subtitle.css);
@import url(./Blocks/video/__iframs/video__iframes.css);
@import url(./Blocks/video/__iframe/video__iframe.css);

@import url(./Blocks/kaufman/kaufman.css);
@import url(./Blocks/kaufman/__section-title/section-title.css);
@import url(./Blocks/kaufman/__section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(./Blocks/kaufman/__table/kaufman__table.css);
@import url(./Blocks/kaufman/__table/_theme/table_theme_dark.css);
@import url(./Blocks/kaufman/__table/__text/kaufman__table__text.css);
@import url(./Blocks/kaufman/__table/__text/_theme/kaufman__table__text_theme_dark.css);
@import url(./Blocks/kaufman/__table/__heading/_theme/kaufman__table__heading.css);
@import url(./Blocks/kaufman/__table/__heading/_theme/kaufman__table__heading_theme_dark.css);
@import url(./Blocks/kaufman/__table/__cell/table__cell.css);
@import url(./Blocks/kaufman/__table/__cell/_theme/kaufman__table__cell_theme_dark.css);
@import url(./Blocks/kaufman/__section-title/section-title.css);
@import url(./Blocks/kaufman/__section-title/_theme/section-title_theme_dark.css);
@import url(./Blocks/kaufman/__section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(./Blocks/kaufman/__triangle/kaufman__triangle.css);

@import url(./Blocks/footer/footer.css);
@import url(./Blocks/footer/__social-icons/footer__social-icons.css);
@import url(./Blocks/footer/__logo/footer__logo.css);
@import url(./Blocks/footer/__logo/footer__logo_place_footer.css);
@import url(./Blocks/footer/__list/footer__list.css);
@import url(./Blocks/footer/__columns/footer__columns.css);
@import url(./Blocks/footer/__column_content_social/footer__column_content_social.css);
@import url(./Blocks/footer/__column/footer__column.css);
@import url(./Blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(./Blocks/footer/__column-link/footer__column-link.css);
@import url(./Blocks/footer/__column-heading/footer__column-heading.css);
@import url(./Blocks/footer/__author/footer__author.css);




















