@import url(../vendor/normalize.css);

@import url(../web_project_2-main/blocks/Keyframes/rotation/keyframes\ rotation.css);

@import url(../web_project_2-main/blocks/rotation/rotation.css);

@import url(../web_project_2-main/blocks/root/root.css);

@import url(../web_project_2-main/blocks/page/page.css);

@import url(../web_project_2-main/blocks/animations/__rotation/rotation.css);

@import url(../web_project_2-main/blocks/section-title/section-title.css);
@import url(../web_project_2-main/blocks/section-subtitle/section-subtitle.css);

@import url(../web_project_2-main/blocks/header/header.css);
@import url(../web_project_2-main/blocks/header/__title/header__title.css);
@import url(../web_project_2-main/blocks/header/__subtitle/header__subtitle.css);
@import url(../web_project_2-main/blocks/header/__square-pic/header__square-pic.css);
@import url(../web_project_2-main/blocks/header/__main-illustration/header__main_illustration.css);
@import url(../web_project_2-main/blocks/logo/_place/logo_place_header.css);
@import url(../web_project_2-main/blocks/header/__link/header__link.css);

@import url(../web_project_2-main/blocks/content/content.css);

@import url(../web_project_2-main/blocks/description/description.css);
@import url(../web_project_2-main/blocks/two-columns/two-columns.css);
@import url(../web_project_2-main/blocks/two-columns/__span/two-columns__span-accent.css);
@import url(../web_project_2-main/blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../web_project_2-main/blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../web_project_2-main/blocks/two-columns/__brief/two-columns__brief.css);

@import url(../web_project_2-main/blocks/digits/digits.css);

@import url(../web_project_2-main/blocks/table/table.css);
@import url(../web_project_2-main/blocks/table/__text/table__text.css);
@import url(../web_project_2-main/blocks/table/__heading/table__heading.css);
@import url(../web_project_2-main/blocks/table/__cell/table__cell.css);
@import url(../web_project_2-main/blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../web_project_2-main/blocks/table/__text/_theme/table__text_theme_dark.css);
@import url(../web_project_2-main/blocks/table/_theme/table_theme_dark.css);

@import url(../web_project_2-main/blocks/feynman/feynman.css);
@import url(../web_project_2-main/blocks/feynman/__title/feynman__title.css);
@import url(../web_project_2-main/blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../web_project_2-main/blocks/feynman/__link/feynman__link.css);


@import url(../web_project_2-main/blocks/khan/khan.css);
@import url(../web_project_2-main/blocks/khan/__quote/Khan__quote.css);
@import url(../web_project_2-main/blocks/khan/__quote-author/Khan__quote-author.css);
@import url(../web_project_2-main/blocks/khan/__quote-author-subline/Khan__quote-author-subline.css);
@import url(../web_project_2-main/blocks/khan/__book-pic/khan__book-pic.css);
@import url(../web_project_2-main/blocks/khan/__book-container/khan__book-container.css);
@import url(../web_project_2-main/blocks/khan/__author/khan__author.css);
@import url(../web_project_2-main/blocks/khan/__title/khan__title.css);
@import url(../web_project_2-main/blocks/khan/__container/khan__container.css);
@import url(../web_project_2-main/blocks/khan/__buy-link/khan__buy-link.css);


@import url(../web_project_2-main/blocks/oakley/oakley.css);

@import url(../web_project_2-main/blocks/resources/resources.css);
@import url(../web_project_2-main/blocks/resources/__logo/resources__logo.css);
@import url(../web_project_2-main/blocks/resources/__logo-zone/resources__logo-zone.css);

@import url(../web_project_2-main/blocks/techniques/techniques.css);

@import url(../web_project_2-main/blocks/cards/cards.css);
@import url(../web_project_2-main/blocks/cards/__title/cards__title.css);
@import url(../web_project_2-main/blocks/cards/__item/cards__item.css);
@import url(../web_project_2-main/blocks/cards/__image/cards__image.css);
@import url(../web_project_2-main/blocks/cards/__description/cards__description.css);

@import url(../web_project_2-main/blocks/video/video.css);
@import url(../web_project_2-main/blocks/video/__iframes/video__iframes.css);
@import url(../web_project_2-main/blocks/video/__iframe/video__iframe.css);

@import url(../web_project_2-main/blocks/kaufman/kaufman.css);
@import url(../web_project_2-main/blocks/kaufman/__triangle/kaufman__triangle.css);



@import url(../web_project_2-main/blocks/section-title/_theme/section-title_theme_dark.css);
@import url(../web_project_2-main/blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);

@import url(../web_project_2-main/blocks/footer/footer.css);
@import url(../web_project_2-main/blocks/footer/__social-icons/footer__social-icons.css);
@import url(../web_project_2-main/blocks/logo/_place/logo_place_footer.css);
@import url(../web_project_2-main/blocks/footer/__list/footer__list.css);
@import url(../web_project_2-main/blocks/footer/__columns/footer__columns.css);
@import url(../web_project_2-main/blocks/footer/__column/_content/footer__column_content_social.css);
@import url(../web_project_2-main/blocks/footer/__column/footer__column.css);
@import url(../web_project_2-main/blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../web_project_2-main/blocks/footer/__column-link/footer__column-link.css);
@import url(../web_project_2-main/blocks/footer/__column-heading/footer__column-heading.css);
@import url(../web_project_2-main/blocks/footer/__author/footer__author.css);




















